{% extends 'base.html' %}

{% block title %}
<title>Лапша</title>
{% endblock title %}

{% block content %}
<div style="display: grid; grid-gap: 5px; grid-template-columns: repeat( auto-fill, 300px )">
    {% for i in result %}
    <div style="margin-left: 10px; padding: 20px; border: 0.1rem outset black;
    width: 15em; text-align: center; font-family: sans-serif;">
        <div style="font-size: 24px; color: #457595; height: 100px;">{{i.name_of_noodles}}</div>
        {% if i.image %}
        <img src="static\img\{{ i.image }}" alt="{{ i.image }}">
        {% else %}
        <p>No foto</p>
        {% endif %}

        <p style="height: 50px;">{{i.description}}</p>
        <p><a href="/{{i.country.id}}">{{i.country.name_of_country}}</a></p>
        <p>
        {% if i.recommendation%}
            <a href="/{{ i.recommendation }}"><span style="color: green;">Куплю еще</span></a>
        {% else %}
            <a href="/{{ i.recommendation }}"><span style="color: red;">Больше не куплю</span></a>
        {% endif %}
        </p>
        <form action="/edit_noodles/{{i.id}}" target="_blank">
        <button>Редактировать</button>
        </form>

        <form action="/delete_noodles/{{i.id}}" target="_blank">
        <button>Удалить</button>
        </form>

    </div>
    {% endfor %}
</div>
{% endblock content %}